

#description{

margin-top:50px;
margin-left:0px;
width:98%;
height:100%;
border:10px solid white;
background-color:#FFFFFF;


}
div.descrip{


width:25%;
height:80%;
float:left;
margin-left:50px;
margin-top:10px;

color:#5D5D5D;
line-height:30px;
font-size:14px;
font-style:;
font-weight:400;
text-align:justify;
    font-family: Graphik;
vertical-align:baseline;
}


.h11{



margin-left:50px;
margin-top:;

color:black;

font-size:18px;

font-weight:500;
text-align:justify;
    font-family: Graphik;
vertical-align:baseline;



}






