


#details{

width:350px;
height:640px;
margin:auto;
border:2px solid hidden;

position:fixed;
top:57px;
right:10px;
background-color:white;
}

#p2
	{
	font-size: 1.01681rem;
    line-height: 1.6;
	font-weight: 400;
    font-family: Graphik;
	margin:5% 7%;color:#5D5D5D;
	text-decoration:none;
}
.p1{
    margin-top:30px;
}
.h1{
line-height: 13px;
margin:5% 7%;
    margin-bottom:50px;
    cursor: pointer;
	 font-family: sans-serif;
    font-weight: 500;
    font-size: 23px;
	    color: #313131;
		    letter-spacing: .02em;
			margin-top:80px;
			

}
.h2{

font-style:normal;
font-size:13px;
font-weight:800;
line-height:1.6;
 font-family: Graphik;
letter-spacing:0.2em;
margin:5% 7%;}

.buttonsu, .buttl{

width:300px; height:40px;
    font-family: Graphik;
    font-size: 13px;
    letter-spacing: .02em;

background-color: black;
    border: none;
    color:white ;
   padding: 13px 18px 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 
	font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    
    z-index: 19;
 
	transition-duration:0.6s;
	cursor:pointer;
	
	
	border:none;
    overflow:hidden;
margin:0% 7% 1% 7%;

}

.buttonsu:hover, .buttl:hover{
background-color:white;
color:black;
border:1px solid black;

}


ul.list{
list-style-type: square;
    line-height: 1.6;
	    font-family: Graphik;
    font-size: 13px;
    letter-spacing: .02em;
	color:#5D5D5D;
	

}
ul.list li{
margin-top:3px;

}
select{
width:300px; height:40px;margin-left: 7%; margin-bottom:7px;

}

