			#lt
				{
				background-color:#FFFFFF;
				position:absolute;
				top:2630px;
				padding-top:60px;
				border-top:2px solid #cccccc;
				
				}
	
			.h
				{
				color:#313131;
				font-size:17px;
				font-family: 'Encode Sans Semi Expanded';
				letter-spacing:1px;
				padding-bottom:3px;
				}
				
			.lt1
				{
				margin-left:40px;
				margin-right:30px;
				font-family: 'El Messiri';
				font-size:15px;
				letter-spacing:1px;
				line-height:20px;
				color:#6c6c6c;
				}
				
			.lt2
				{
				margin-left:40px;
				letter-spacing:1px;
				font-family: 'El Messiri';
				font-size:15px;
				line-height:20px;
				color:#6c6c6c;
				}
				
			.lt3
				{
				margin-left:40px;
				letter-spacing:1px;
				font-family: 'El Messiri';
				font-size:15px;
				line-height:20px;
				color:#6c6c6c;
				}
				
			.lt5
				{
				margin-left:40px;
				letter-spacing:1px;
				font-family: 'El Messiri';
				font-size:15px;
				line-height:20px;
				color:#6c6c6c;
				}
	
			.lt4
				{
				float:left;
				margin-left:50px;
				letter-spacing:1px;
				font-family: 'El Messiri';
				font-size:12px;
				line-height:20px;
				color:#330d00;
				}
				